[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.0.7"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
django-filter = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"

[requires]
python_version = "3.7"
